[user]
	email = adam@paynelessdev.tech
	name = Adam Payne
	signingkey = F03304DFF6C606D9
[init]
    defaultBranch = main
[core]
	editor = vim
[color]
	ui = true
[alias]
    s = status -sb
    l = log --oneline --graph --decorate
    d = diff
    c = commit -am
    a = commit --amend -m
    p = push
    dd = add .
    co = checkout
    ss = stash save
    sl = stash list
    sp = stash pop
    sd = stash drop
    sa = stash apply
    pom = push origin main
[commit]
	gpgsign = true
