[user]
	email = adam@paynelessdev.tech
	name = Adam Payne
	signingkey = D0B839F7F9B4BF685EC5FFCEF03304DFF6C606D9
[core]
	editor = vim
[color]
	ui = true
[alias]
    s = status -sb
    l = log --oneline
    d = diff
    c = commit -m
    a = add .
    p = push
    co = checkout
    pom = push origin master
